VITE_SUPABASE_URL=https://hutrxzxygjkemgcirqid.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh1dHJ4enh5Z2prZW1nY2lycWlkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTc1NDk3NiwiZXhwIjoyMDkxMzMwOTc2fQ.lbpFwi2PGpI21dXvHQSGMWEeFtZ6LebgsmXT_bzROBA